.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
ZtTemplates
外包项目文档
covers
Excalidraw
*.png
*.base
30-tasks
05-project
Task Queue.md
